body{
    scroll-snap-type: y proximity; /* mandatory */
    overflow-y: scroll;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    scroll-snap-align: start;
    
  }

  .section .container{
      z-index: 1;
      color: white;
  }
  
  .section > h1 {
    text-align: center;
    font-size: 6rem;
    line-height: 6rem;
    /* font-family: "Cookie"; */
    /* background: rgba(255, 255, 255, 0.7); */
    /* padding: 20px 160px 25px 160px; */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    padding-bottom: 30px;
    /* margin: 15px; */
    z-index: 1;
    /* opacity: 0.7; */
    /* transform: translateY(50vh);
    animation: 1s ease-out 0s 1 slideUp forwards; */
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.4s;
  }
  .section > h1:hover{
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.4s;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .video-container video{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: lightblue; */
    background-color: #C9C9C9;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  }

  .section-2{
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    scroll-snap-align: start;
  }

  .section-3{
    width: 100%;
    height: 100vh;
    background: white;
   /*  color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    scroll-snap-align: start;
}

.btn-white{
    padding: 1rem 3rem 1rem 3rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    transition: all 0.4s;
}
.btn-white:hover{
    background-color: white;
    color: black;
    transition: all 0.4s;
    
}
.btn-white:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
}

.close:focus{
	outline-color: rgba(0,0,0, 0.75);
	/* outline: none; */
}

@media only screen and (max-width: 700px) {
    .section > h1{
        font-size: 3rem;
        padding-top: 0px;
        padding-bottom: 3px;
    }
}

@media only screen and (max-width: 770px) {
    .section-3, .section-2{
        height: auto;
        padding-top: 25vh;
        padding-bottom: 25vh;
    }
}

/* animations */
@keyframes slideUp{
    0%{
        transform: translateY(50vh);
    }
    90%{
        transform: translateY(-20px)
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
