/*@import "https://maxcdn.bootstrapcdn.com/font-awesome/5.0.10/css/font-awesome.min.css";*/

body{
	background-color: #f5f5f5;
}

/*#menu-toggle{
	position: fixed;

}*/


.no-radius{
	border-radius: 0px;
}
.border-black {border-color: black !important;}
.pointer {cursor: pointer;}

.btn-login{
	color: white;
	background-color: black;
	border-color: white;
}
.btn-login:hover{
	color: black;
	background-color: white;
	border-color: white;
}
.top-right{
	position: absolute;
    top: 0px;
    right: 0px;
}

.btn-dark-custom{ background-color: black !important; }
.btn-dark-custom:hover{ background-color: #343A40 !important; }

.bookmark{ color: #A6A6A6}
.bookmark:hover{ color: black; cursor: pointer;}
.bookmarked{ color: black !important}
.bookmarked:hover{ color: black; cursor: pointer;}


#menu-icon{
	color: white;
}

#search-btn{
	color: white;
	border-color: white;
}

#search-btn:hover{
	color: black;
	border-color: black;
	background-color: white;
}

#search-btn:focus{
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 18px rgba(140, 140, 140, 1);
}


#searchnavbarleft{
	padding-left:20px;
}

#profiletopright a{
	color: white;
}

#profiletopright a:hover{
	text-decoration: none;
}

/* smaller than 600px */
@media only screen and (max-width: 600px) {
    /*#profiletopright{
        display: none;
    }*/
	.navbar-brand{
		display: none;
	}
}

/* bigger than 600px */
@media only screen and (min-width: 10px) {
    #profilesidebar{
        display: none;
    }
}

/*overide bootstrap */
.form-control{
		border-radius: 0px;
}

.badge-dark{
	background: #000 !important;
}

.bg-dark{
		background: #000 !important;
}

/* dropdown menu*/

.dropdown-menu{
	width: 220px !important;
	/*background-color: red;*/
}

.dropdown-divider{
	/*border-color: red;*/
}

.dropdown-item:focus{
	background-color: #f8f9fb;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

/* cards */
.card{

}

.bg-mycardbg{
	background-color: #32383E;

}

.book{
	border: none;
}

/*.book .card-footer{
	border-top: 5px solid red;
}*/


.book .card-title a:hover,
.book .card-subtitle a:hover,
.book .card-text a:hover{
	text-decoration: underline;
}
.book a{
	color: white;
}

.book a:hover{
	text-decoration: none;
}

/* no need because all images are the same size in python code on upload
.book img{
	 min-height: 150px !important;
	 max-height: 550px;
}

@media only screen and (max-width: 990px) {
	.book img{
		height: 55vw;
	}
}

@media (max-width: 768px) {
	.book img{
	 min-height: 100vw !important;
	}
}*/

.book:hover{
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60x 0px rgba(0,0,0,0.75);
}




/* custom checkboxes */

.custom-control-label:before{
  background-color: #f3f3f3;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #f3f3f3;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image: url("https://image.freepik.com/iconen-gratis/controle-teken-in-een-ronde-zwart-vierkant_318-42213.jpg");
  background-size: 16px 16px;
}


/*jumbotron/breadcrumb */

.jumbotron .breadcrumb .breadcrumb-item a{
	color: black;
}

.jumbotron .breadcrumb .breadcrumb-item a:hover{
	background-color: black;
	color: white;
	text-decoration: none;

}


/* pagination */
.pagination > li > a,
.pagination > li > a,
.pagination > li > span,
.pagination > li > span{
    z-index: 3;
    color: black;
    background-color: white;

}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
	 color: black;
    background-color: #f1f1f1;

	box-shadow: none;

}

.pagination > li.active > a,
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > span {
    z-index: 3;
    color: white !important;
    background-color: black !important;
    border-color: black !important;
	box-shadow: none !important;

}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
	margin-top: 60px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    /*background: #007b5e !important;*/
	background: #000 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* popover */
.popover{
	border-color: black;
}
.popover-body{
	background: black;
	color: white;
 }
.popover .arrow:after{
	border-top-color: black;
}

/* form focus outline color */
textarea:focus:not(.is-invalid),
select:focus,
input[type="checkbox"]:focus,
input[type="checkbox"]:after,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type=file]:focus,
.uneditable-input:focus {
  border-color: rgba(140, 140, 140, 0.8) !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(140, 140, 140, 1) !important;
  outline: 1px solid !important;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Naršyti";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* select.form-control > option:checked{ NEVEIKIA visose narsyklese
	background-color: black;
	color: white;
}
select.form-control > option:active,
select.form-control > option:focus,
select.form-control > option:hover{
	background-color: black !important;
	color: white !important;
} */
/* select.form-control { color: red; } */
/* select.form-control > option:not(:checked) { background-color: black; }  */
/* select.form-control{
	color: green !important;
	background-color: #fff;
  } */

/* book detail page */
.img-fluid{
	width:100%;
}

/* not active */
.nav-pills .nav-link.active{
	/* background-color: rgba(255, 0, 0, 0.5); */
	background-color: black;
}

.nav-pills .nav-link {
   /* margin-right: 5px; */
   border-top: 1px solid black;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   color: black;
/*    border-bottom: 1px black solid;
   border-right: 1px black solid;
   border-left: 1px black solid; */
}


.nav-pills .nav-link:hover {
	/* background-color: #807676; */
 }



 /* Comments style */
 /** ====================
 * komentarų listas
 =======================*/

  * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
	/* margin-left: 0px; */
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Komentaru listas
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avataras
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * komentaru turinys
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	/* color: #03658c; */
	color: black;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 0px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {/* color: #03658c; */ color: black;}
.comment-box .comment-name.by-author:after {
	content: 'autorius';
	/* background: #03658c; */
	background: black;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment-box .comment-name.by-you, .comment-box .comment-name.by-you a {/* color: #03658c; */ color: black;}
.comment-box .comment-name.by-you:after {
	content: 'Tu';
	/* background: #03658c; */
	background: black;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#dontreply{
	/* color: red; */
}

#dontreply:focus{
	border-color: rgba(140, 140, 140, 0.8) !important;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(140, 140, 140, 1) !important;
	outline: 0 none !important;
}

.showReplies{
	width: 680px;
	float: right;
	position: relative;
}

/* floating action button */
.btn-circle.btn-xl {
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    border-radius: 45px;
    font-size: 34px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 1110px) { /* default 766 */
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}



/** =====================
 * Entertainment
 ========================*/
.wish{
	width: 100% !important;
	border: none;
}
.wish:hover{
	cursor: pointer;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60x 0px rgba(0,0,0,0.75);
	z-index: 100;
}
.wish .card-header{
	background: #000;
	color: white;
}
.wish img{
	width: 75px;
	height: 75px;
	border-radius: 90px;
}
.wish .progress{
	height: 2rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.wish .card-body{
	border-left: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
}
.wish .card-footer{
	background-color: white;
	border-top: none;
	border-left: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.close:focus{
	outline-color: rgba(0,0,0, 0.75);
	/* outline: none; */
}

#newWishBtn{
	position: fixed;
	bottom: 5.0rem;
	right: 5.0rem;
	z-index: 100;
}

.inputWrapper{
	position: relative;
	width: 100%;
}
.xbtn{
	color: #A6A6A6;
	cursor: pointer;
	position: absolute;
	top: 10px;
	margin-right: 10px;
	right: 0;

	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.xbtn:hover{
	color: black;
}
#addWishAlert{
	position: fixed;
	top: 20vh;
	width: 35%;
	z-index: 100;
	left: 50%;
	/* transform: translateX(-50%); */
	transform: translate(-50%, -10vh);
    animation: 1s ease-out 0s 1 slideDown forwards;
}

#myAlert{
	position: fixed;
	left: 50%;
	transform: translate(-50%, -80px);
	/* animation: 1s ease-out 0s 1 slideDown forwards; */
	z-index: 100;
}

#myAlert.slide{
	animation: 1s ease-out 0s 1 slideDown forwards;
}

#paymentRange{
	width: 50%;
}


.img-avatar{
	width: 75px;
	height: 75px;
	border-radius: 90px;
}

.wish-like-btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* .wish-like-btn h1{
	font-size: 4rem;
} */
.wish-bookmark{ color: white; transition: .3s all ease; }
.wish-bookmark:hover{ color: black; cursor: pointer; transition: .3s all ease;}
.wish-bookmarked{ color: black !important; transition: .3s all ease;}
.wish-bookmarked:hover{ color: black; cursor: pointer; transition: .3s all ease;}
#wishDonatedInfo{cursor: pointer;}

/* MEDIA */

 @media screen and (max-width: 950px) {
	 #newWishBtn{
	 	bottom: 2.5rem;
	 	right: 2.5rem;
	 }
	#addWishAlert{
		width: 80%;
	}
	#paymentForm .form-group{
		width: 75% !important;
	}
	#paymentRange{
		width: 75% !important;
	}
  }
/* ANIMATIONS */
@keyframes slideDown{
	0%{
		transform: translate(-50%, -20vh);

	}
	100%{
		transform: translate(-50%, -10vh);

	}
}

@keyframes alertSlideUp{
	0%{
		transform: translate(-50%, 20vh);
	}
	100%{
		transform: translate(-50%, -20px);
	}
}
