{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'library:index' %}">Knygnešys</a></li>
{% endblock breadcrumb %}
{% block breadcrumbinfo %}Pasiūlyk kokią knygą norėtum išvysti bibliotekoje arba padovanok knygą bibliotekai{% endblock breadcrumbinfo %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="row">

            {% for wish in wishes %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex pb-3">
                <div class="card wish" wish_id="{{ wish.api_url }}">
                    <h5 class="card-header">
                        Liko {{ wish.get_timeleft }} d.
                        <span class="badge badge-secondary float-right" data-toggle='popover' data-trigger='hover' data-content='Patiko 85 zmonems' data-placement='top'><i class="fas fa-heart"></i> 89</span>
                    </h5>
                    <div class="card-body text-center pb-0">
                      <img src="{{ wish.created_by.info.avatar_url }}" alt="ayoo">
                      <h5 class="card-title mt-2">{{ wish.title }}</h5>
                      <p class="card-text">{{ wish.description }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary {% if wish.get_goal_percent < 40 %} text-dark {% endif %}" role="progressbar" style="width: {{ wish.get_goal_percent }}%" aria-valuenow="{{ wish.get_transaction_sum }}" aria-valuemin="0" aria-valuemax="{{ wish.price }}"> {{ wish.get_transaction_sum }}/{{ wish.price }} EUR</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <nav aria-label="...">
                <ul class="pagination pagination-lg">
                        {% for page in wishes.paginator.page_range %}
                        {% if page == wishes.number %}
                            <li class="page-item active"><a class="page-link " href="?p={{ page }}">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link " href="?p={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
              </nav><!-- /pagination -->


    </div><!-- /column left-->
    <div class="col-sm-12 col-md-4">
        nustatymai, akordionai
    </div>
</div>



<!-- new wish button and modal -->
{% if user.is_authenticated %}
<button id="newWishBtn" type="button" class="btn btn-secondary btn-circle btn-xl" data-toggle='popover' data-trigger='hover' data-content='Paprašyk naujos knygos' data-placement='top' >
    <i class="fas fa-plus"></i>
</button>
{% else %}
<span id="newWishBtn" data-toggle='popover' data-trigger='hover' data-content='Paprašyk naujos knygos' data-placement='top' >
    <button  type="button" class="btn btn-secondary btn-circle btn-xl" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus"></i>
    </button>
</span>
{% endif %}

{% if user.is_authenticated %}
<div class="modal fade" id="newWishModal" tabindex="-1" role="dialog" aria-labelledby="newWishModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content no-radius">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kokią knygą norėtum išvysti bibliotekoje?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <form action="{% url 'entertainment:addwish' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control"  name="bookName" placeholder="Knygos pavadinimas" onchange="removeInvalid(this)">
                        <div class="invalid-feedback">
                            Nebejuokink. Bet kam aišku, kad pavadinimas yra būtinas...
                        </div>
                    </div>
                    <div class="container-fluid px-0" >
                        <!--<h6 class="text-muted">Galbūt mes jau turime šia knygą?</h6>-->
                        <div class="row pl-3" id="bookSuggestions">
{% comment %}                             <div class="col-3 mb-2 pl-0">
                                <a href="#">
                                    <img class="w-100 book" src="/static/img/no_cover.jpg" data-toggle='popover' data-trigger='hover' data-content='Pavadinimas' data-placement='top'>
                                </a>
                            </div>  {% endcomment %}
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <input type="text" class="form-control"  name="writers" placeholder="Autoriaus vardas ir pavardė" onchange="removeInvalid(this)" autocomplete="off">
                    </div>
                    <div class="container px-0" id="writersDiv">
                    </div>
                    <div class="form-group py-1" style="overflow: hidden;">
                        <button type="button" class="btn btn-secondary btn-circle float-right mr-2" id="newWriterBtn" data-toggle='popover' data-trigger='hover' data-content='Pridėti autorių' data-placement='top' >
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div class="form-group mr-auto">
                            <input type="text" class="form-control"  name="releaseDate" placeholder="Leidimo metai (nebūtina)">
                    </div>
                    <div class="form-group mr-auto">
                        <input type="text" class="form-control"  name="publisher" placeholder="Leidykla (nebūtina)">
                    </div>
                    <div class="form-group mr-auto">
                            <textarea class="form-control" rows="5" name="newWishComment" placeholder="Kodėl nori šios knygos?&#10;Kuom ji bus naudinga kitiems skaitytojams?" onchange="removeInvalid(this)"></textarea>
                            <div class="invalid-feedback">
                                Aprašymas yra privalomas ir negali būti toks trumpas
                            </div>
                    </div>


            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary mr-auto">Išsaugoti</button>
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Atšaukti</button> -->
                <button type="submit" id="newWishFormBtn" class="btn btn-dark"><i class="fas fa-plus"></i> Sukurti prašymą</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- info modal -->
<div class="modal fade bd-example-modal-lg " id="wishInfoModal" tabindex="-1" role="dialog" aria-labelledby="wishInfoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content no-radius">
                    <div class="modal-header">
                      <h5 class="modal-title align-middle" id="exampleModalLabel">Liko <span id="timeLeft"></span> d.</h5>
                      {# <div class="wish-like-btn"><h1 class="mb-0"><i class="fas fa-heart bookmark"></i></h1></div> #}
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          {# <h1 class="mb-0"><i class="fas fa-heart bookmark"></i></h1> #}
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="container" id="wishcontent">
                            <div class="row">
                                <div class="offset-md-2 col-md-8 col-sm-12 pl-0">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href=""><img src="{% static '/img/profile_icon.jpg' %}" class="img-avatar" data-toggle='popover' data-trigger='hover' data-content='Slapyvardis paprašė šios knygos' data-placement='top'></a>
                                        </div>
                                        <div class="col-6 align-middle">

                                            <h1 class="mb-0 wish-like-btn"><span class="badge badge-secondary float-right"><i class="fas fa-heart wish-bookmark"></i> 89</span></h1>
                                        </div>
                                    </div>

                                    <h2 id="wishTitle">Pavadinimas</h2>
                                    <h5 class="mb-0">Autoriai</h5>
                                    <h4 id="wishWriters"><a href="#" class="text-muted d-block">Vardas Pavarde</a> <a href="#" class="text-muted d-block">Vardas Pavarde</a></h4>
                                    <h5 class="mb-0">Kodėl ši knyga?</h5>
                                    <p id="wishDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, earum doloremque ab natus fuga magnam soluta iure ullam, consectetur sit quas ut vero veniam laborum quisquam quasi omnis molestias in.</p>
                                    <hr>
                                    <div class="row pb-3">
                                        <div class="col-md-6 text-center">
                                            <h5 class="mb-0">Kaina</h5>
                                            <h4 class="text-muted d-block"><span id="wishPrice">15</span> EUR</h4>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <h5 class="mb-0">Surinkta pinigų</h5>
                                            <h4 class="text-muted d-block" id="wishDonatedInfo" data-toggle='popover' data-trigger='hover' data-content='pirmas<br />antras' data-placement='top' data-html="true"><span id="wishDonated">22</span> EUR</h4>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div><!--/modal-body -->
                      <div class="row">
                        <!-- TABS -->
                        <div class="col-12 px-0">
                            <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-comments-tab" data-toggle="pill" href="#pills-comments" role="tab" aria-controls="pills-comments" aria-selected="true">Komentarai  <i class="far fa-comments"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-payment" aria-selected="false">Prisidėk <i class="fas fa-hand-holding-usd"></i></a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <!-- Komentarai -->
                                <div class="tab-pane fade show active" id="pills-comments" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="row align-items-center">
                                        <div class="col-sm-12 text-center py-5">
                                            <h1 class="text-muted py-5">Coming soon... 2022</h1>
                                        </div>
                                    </div>
                                </div><!-- /Komentarai -->
                                <!-- Apmokejimas -->
                                <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                                    <div class="row align-items-center">
                                            <div class="col-sm-12 text-center py-5">
                                                <form action="{% url 'entertainment:payment' %}" method="POST" id="paymentForm">{% csrf_token %}
                                                {% if not user.is_authenticated %}

                                                    <div class="form-group mb-2 ml-auto mr-auto w-50">
                                                        <input type="text" class="form-control" name="payerFirstName" placeholder="Jūsų vardas*" onchange="removeInvalid(this)">
                                                        <div class="invalid-feedback">
                                                            Būtina užpildyti
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3 ml-auto mr-auto w-50">
                                                        <input type="text" class="form-control" name="payerLastName" placeholder="Jūsų pavardė*" onchange="removeInvalid(this)">
                                                        <div class="invalid-feedback">
                                                            Būtina užpildyti
                                                        </div>
                                                    </div>


                                                {% endif %}
                                                </form>
                                                <input type="range" min="1" max="100" value="50" step="0.01" class="slider" id="paymentRange" oninput="showAmount(this.value);" name="payAmount"><br>
                                                <button class="btn btn-dark px-5 my-2" id="stripeBtn"><h3 class="mb-0">PERVESTI: <span id="rangeValue"></span> EUR</h3></button><br>
                                                <small class="text-muted">Jeigu nebus surinkta pakankamai pinigų iki prašymo galiojimo pabaigos, pervesti pinigai bus grąžinami į jūsų kreditinę kortelę.</small>

                                            </div>
                                        </div>
                                    </div><!-- /Apmokejimas -->
                                </div><!-- /tab-content-->
                            </div><!--/col-->

                        </div><!-- /ROW -->

                      </div><!--/MODAL BODY-->
                      <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atgal</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                          </div>
                    </div><!--/modal-content-->

                </div>
</div>


<!-- ALERTAI -->
{% if success %}
    <div class="alert alert-success alert-dismissible fade show" id="addWishAlert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading">PAVYKO!</h4>
        <p>Jūsų prašymas buvo užregistruotas sėkmingai ir perduotas bibliotekos darbuotojams. Įvertinus prašymą, bus nustatyta knygos numatoma kaina ir prašymą galėsite išvysti šiame puslapyje.</p>
        <hr>
        <p class="mb-0">Jeigu prašymas nėra korektiškas jis bus pašalintas &#x1F612.</p>
    </div>
{% endif %}

{% if error %}
    <div class="alert alert-danger alert-dismissible fade show" id="addWishAlert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading">O VAU!</h4>
        <p>Žiurkė sugraužė laidus! Bandykite sukurti prašymą dar kartą.</p>
        <hr>
        <p class="mb-0">Jeigu prašymo nepavyksta pridėti ir toliau, informuokite bibliotekos darbuotojus.</p>
    </div>
{% endif %}

<!-- <div class="alert alert-danger alert-dismissible fade show" id="myAlert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="alert-heading">KLAIDA!</h4>
    <p>Žiurkė sugraužė laidus! Bandykite perkrauti puslapį.</p>
</div> -->

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
    $( document ).ready(function() {
        $('[data-toggle="popover"]').popover(); //kad veiktu popover
        //addWritter()


    });

    //atidaro wishinfomodal ir pakeicia duomenis

    //prideda formos lauką naujam autoriui
    /*function addWritter(){

        let writersDiv = $("#writersDiv")

        $("#newWriterBtn").click(function(e){
            let writerName = $("input[name=writers]")
            if(!writerName.last().val()){
                writerName.last().addClass("is-invalid")
            }else{
                html = "<div class='form-group mb-1'><input type='text' class='form-control'  name='writerName' placeholder='Autoriaus vardas ir pavardė'></div>"
                $(html).hide().appendTo(writersDiv).fadeIn(1000)
            }
            getLastWriterInput()
        })
    }*/

    function getLastWriterInput(){
        let writerName = $("input[name=writers]")
        console.log(writerName)
    }


</script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{% static 'entertainment/js/newWish.js' %}"></script>
<script src="{% static 'entertainment/js/viewWish.js' %}"></script>
{% endblock javascript %}
