{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>v3 Biblioteka</title>
	<link rel="icon" href="{% static 'img/logo-black.png' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Custom styles for this template -->
	<link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
	<link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
					
				</li>
                <li>
                    <a href="{% url 'library:index' %}"><i class="fas fa-book"></i> Knygos</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-fire"></i> Pasiūlymai</a>
                </li>
				<li>
                    <a href="#"><i class="fa fa-fw fa-newspaper"></i> Naujienos</a>
                </li>
				<li>
                    <a href="#"><i class="fa fa-fw fa-gift"></i> Padovanok!</a>
                </li>
				<li class="my-2">
					<div id="searchnavbarleft">
						<form class="form-inline my-2 my-lg-0">
						  <input class="form-control mr-sm-2  w-50" type="search" placeholder="Paieška" aria-label="Search">
						  <button class="btn btn-login my-2 my-sm-0 ml-2" type="submit" id="search-btn"><i class="fa fa-fw fa-search"></i></button>
						</form>
					</div>
				</li>
				<li>
					<a id="profilesidebar" href="#"><i class="fa fa-fw fa-user"></i> Slapyvardis</a>
				</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
				<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
					<h1><a href="#" id="menu-toggle"><i id="menu-icon" class="fa fa-fw fa-bars"></i></a></h1>					
					<div class="mx-auto order-0">
						<a class="navbar-brand mx-auto" href="{% url 'library:index' %}">
							<!--<img src="http://flaticons.net/gd/makefg.php?i=icons/Wildlife/Rat.png&r=255&g=255&b=255" width="100" height="100" alt="">-->
							<img src="{% static 'img/logo.png' %}" width="100" height="100" alt="">
						</a>
					</div>
					<!-- jeigu prisijungęs --> 
					{% if user.is_authenticated %}
					<div id="profiletopright" class="mr-2">						
						<li class="nav-item dropdown" style="list-style-type: none;">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if user.info.avatar %}
									<img class="circle" style="border-radius:90px;" src="{{ user.info.avatar.url }}" width="50" height="50" alt="">
								{% else %}
									<img class="circle" style="border-radius:90px;" src="{% static 'img/no_cover.jpg' %}" width="50" height="50" alt="">
								{% endif %}
								{{ user.username }}
							</a>							
							<div class="dropdown-menu dropdown-menu-right no-radius" aria-labelledby="navbarDropdown">
								  <a class="dropdown-item text-dark" href="#"><i class="far fa-fw fa-comment-alt"></i> Pranešimai <span class="badge badge-info">18</span></a>
								  <a class="dropdown-item text-dark" href="#"><i class="far fa-fw fa-calendar-alt"></i>Užsakymai</a>
								  <a class="dropdown-item text-dark" href="#"><i class="fa fa-fw fa-user-circle"></i> Paskyra</a>								  
								  <div class="dropdown-divider"></div>
								  <a class="dropdown-item text-dark" href="{% url 'accounts:settings' user.username %}"><i class="fa fa-fw fa-cog"></i> Nustatymai</a>
								  <a class="dropdown-item text-dark" href="{% url 'accounts:logout' %}"><i class="fa fa-fw fa-sign-out-alt"></i> Atsijungti</a>
							</div>
						</li><!-- /jeigu prisijungęs -->
					</div>
					{% else %}
						<!-- Jeigu neprisijungęs trigger modal --> 
						<button type="button" class="btn btn-login no-radius" data-toggle="modal" data-target="#exampleModal">
							<i class="fa fa-fw fa-sign-in-alt"></i> PRISIJUNGTI
						</button><!-- //Jeigu neprisijungęs--> 
					{% endif %}
					
				</nav>			
				
            <div class="container-fluid">			
			
				<!--<a href="#menu-toggle" class="btn btn-danger" id="menu-toggle">MENU</a>-->
				<!--<h1><a href="#" class="badge badge-dark" id="menu-toggle"><i id="menu-icon" class="fa fa-fw fa-bars"></i></a></h1>-->
                
                
				<div class="jumbotron mt-2 pb-4">
					<ol class="breadcrumb display-4 mb-0 p-0">
                    {% block breadcrumb %}
                      <li class="breadcrumb-item"><a href="{% url 'library:index' %}">Knygos</a></li>                      
                      <!--<li class="breadcrumb-item active">Pavadinimas Knygos</li>-->
                    {% endblock breadcrumb %}
					</ol>				  
				  <p class="lead mt-2">{% block breadcrumbinfo %}Knygų sąrašas{% endblock breadcrumbinfo %}</p>
				  <hr class="my-4">
				    <!--<form class="form-inline" action="{% url 'library:search' %}" method="POST">{% csrf_token %}
							<input class="form-control form-control-lg mr-sm-2 w-75 no-radius" name="keywoard" type="search" placeholder="Paieška" aria-label="Search">
							<button class="btn btn-lg btn-dark btn-dark-custom my-2 my-sm-0 ml-2 border-black" type="submit"><i class="fa fa-fw fa-search"></i></button>			

					</form>-->
					<form action="{% url 'library:search' %}" method="POST">{% csrf_token %}
						<div class="input-group mb-3 w-75">
							<input class="form-control form-control-lg no-radius" name="keywoard" type="search" placeholder="Paieška" aria-label="Search">
							<div class="input-group-append">
								<button class="btn btn-lg btn-dark btn-dark-custom" type="submit"><i class="fa fa-fw fa-search"></i></button>
							</div>
						</div>
					</form>
				</div>
                
				<!--<a href="#"><h1><span class="badge badge-primary" id="menu-toggle"><i class="fa fa-fw fa-bars"></i></span></h1></a>-->
				
                <!--<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>-->
			
			
			
			
                {% block content %}
                {% endblock content %}
				
				</div><!-- /row whole page -->
			

			
			
        
        
		
		
		<!-- Footer -->

	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Knygų Žiurkė</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Pradžia</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Apie mus</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>DUK</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Pradėk</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Kas nors</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Media</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Lalala</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Video klipai</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Daugiau</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Remėjai</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Leidyba</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Knygų Žiurkė&trade; Tavo mieste</a></li>
						<li><a href="#" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Atributika</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.google.lt"><i class="fab fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Socialinis tinklapis knygnešiams</p>
					<p class="h6">&copy; Visos teisės saugomos<a class="text-green ml-2" href="#" target="_blank">Knygų Žiurkė&trade;</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>

	<!-- ./Footer -->
	
	</div>	
	<!-- /#page-content-wrapper -->		
		
    </div>
    <!-- /#wrapper -->

			
							
	<!-- Prisijungimo Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content no-radius">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">PRISIJUNGIMO BŪDAI</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-block no-radius py-2"><i class="fab fa-google"></i> Google</a>
			<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-block no-radius py-2"><i class="fab fa-facebook-f"></i> Facebook</a>
		  </div>
		  <div class="modal-footer">
			  <small class="text-muted mr-auto">Prisijungdami sutinkate su Knygų Žiurkė&trade; <a href="#">privatumo taisyklėmis</a></small>
		  </div>
		</div>
	  </div>
	</div> <!-- /jeigu neprisijungęs -->

	
    <!-- Bootstrap core JavaScript -->
	<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	
	{% block javascript %}
	<!-- Menu Toggle Script -->
	<script>	
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
		$("#menu-icon").toggleClass('fa fa-fw fa-bars');
		$("#menu-icon").toggleClass('fas fa-fw fa-times');			
	  });
	</script>
	{% endblock javascript %}



</body>

</html>
